.FooterRightGoogleMapsItem {
    width: 100%;
    height: 52%;
    background-color: aqua;
    margin-top: 2%;
}

Map {
    max-width: 40%;
    max-height: 40%;
}

@media screen and (max-width: 687px) {
    .FooterRightGoogleMapsItem {
        width: 55%;
        height: 100%;
        margin-left:0;
        margin-top: 0;
    }
}
