.NavbarDrawer {
    position: fixed;
    width: 800px;
    max-width: 50%;
    height: 220px;
    left: 0;
    top: 130px;
    background-color: white;
    opacity: 0.5;
    box-sizing: border-box;
}

.FontAwesome {
    font-size: 35px;
    margin-top: 10px;
    color: red;
}

.InfoBlock {
    width: 164px;
    height: 100%;
    padding-left: 36px;
    display: inline-block;
    text-align: center;
}

.InfoBlockNumber {
    width: 100%;
    height: 25%;
    display: inline-block;
    text-align: center;
    color: red;
    margin-top: 15%;
    font-size: 35px;
    font-weight: bold;
}

.InfoBlockText {
    width: 100%;
    height: 25%;
    display: inline-block;
    text-align: center;
    color: black;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}


@media screen and (max-width: 1600px) {
	.FontAwesome {
		font-size: 24px;
	}
	.InfoBlockNumber {
		font-size: 24px;
    }
    .InfoBlockText {
        font-size: 20px;
    }
    .InfoBlock {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1472px) {
    .InfoBlock {
        padding-left: 12px;
    }
}

@media screen and (max-width: 1408px) {
	.FontAwesome {
		font-size: 22px;
	}
	.InfoBlockNumber {
		font-size: 22px;
    }
    .InfoBlockText {
        font-size: 19px;
    }
    .InfoBlock {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1312px) {
	.FontAwesome {
		font-size: 20px;
	}
	.InfoBlockNumber {
		font-size: 20px;
    }
    .InfoBlockText {
        font-size: 17px;
    }
    .InfoBlock {
        width: 145px;
    }
}

@media screen and (max-width: 1160px) {
    .InfoBlockText {
        font-size: 15px;
    }
    .InfoBlock {
        width: 130px;
    }
}

@media screen and (max-width: 1040px) {
    .InfoBlockText {
        font-size: 13px;
    }
    .InfoBlock {
        width: 110px;
    }
}

@media screen and (max-width: 880px) {
    .InfoBlockText {
        font-size: 12px;
    }
    .InfoBlock {
        width: 100px;
    }
}

@media screen and (max-width: 800px) {
    .NavbarDrawer {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .InfoBlockText {
        font-size: 18px;
    }
    .InfoBlockNumber {
        font-size: 20px;
    }
    .InfoBlock {
        width: 150px;
    }
}

@media screen and (max-width: 630px) {
    .InfoBlockText {
        font-size: 14px;
    }
    .InfoBlock {
        width: 120px;
    }
}

@media screen and (max-width: 520px) {
    .NavbarDrawer {
        display: none;
    }
}
