.Logo {
    height: 241px;
    width: 345px;
    margin-left: 80%;
    display: inline-block;
    margin-top: 0;
}

.Logo img {
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 1679px) {
	.Logo {
        width: 300px;
    }
}

@media screen and (max-width: 1600px) {
	.Logo {
        margin-left: 78%;
    }
}

@media screen and (max-width: 1498px) {
	.Logo {
        margin-left: 76%;
    }
}

@media screen and (max-width: 1362px) {
	.Logo {
        margin-left: 74%;
    }
}

@media screen and (max-width: 1199px) {
	.Logo {
        margin-left: 72%;
    }
}

@media screen and (max-width: 1110px) {
	.Logo {
        margin-left: 67%;
    }
}

@media screen and (max-width: 936px) {
	.Logo img{
        display: none;
    }
    .Logo {
        width: 0px;
    }
}

@media screen and (max-width: 520px) {
	.Logo {
        display: none;
    }
}
