.FooterRightSocialLinksItem {
    width: 100%;
    margin-top: 1%;
    height: 42%;
    background-color: cadetblue;
}

@media screen and (max-width: 687px) {
    .FooterRightSocialLinksItem {
        width: 40%;
        height: 100%;
        margin-left:2%;
        margin-top: 0;
    }
}
