/*-------------------------------------
                main class
-------------------------------------*/
.Layout {
    margin: 0;
}


/*-------------------------------------
sub main class for navbar components / elements
-------------------------------------*/
.Navbar {
    width: 100%;
    display: inline-block;
    min-height: 350px;
    margin-top: 0px;
}


/*-------------------------------------
sub main class for page content components / elements 
-------------------------------------*/
.LayoutContent {
    width: 100%;
    display: inline-block;
    min-height: 1000px;
    margin-top: 0px;
}


/*-------------------------------------
sub main class for toolbar components / elements
-------------------------------------*/
.Toolbar {
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    min-height: 120px;
}


/*-------------------------------------
sub main class for footer components / elements
-------------------------------------*/
.Footer {
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    min-height: 600px;
}
