/*-------------------------------------
            main class
-------------------------------------*/
.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


/*-------------------------------------
global settings for FontAwesomeIcon
-------------------------------------*/
.FontAwesomeIcon {
    margin-right: 8px;
}


/*-------------------------------------
                responsive
-------------------------------------*/
@media screen and (max-width: 520px) {
    .NavigationItems {
        align-items: unset;
        display: unset;
    }
}
